$colorPrimary: #572ee5;
$textRoboto: Roboto, sans-serif;
$textMonserrat: Montserrat, sans-serif;
$desktop-screen: 1200px;

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: $textMonserrat;
  font-weight: 700;
}

body {
  margin: 0;
  border-top: 5px solid $colorPrimary;
  border-bottom: 5px solid $colorPrimary;
  color: $colorPrimary;
}

.display-none {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden !important;
}

.logo {
  width: 100%;
  max-width: 48px;
}

.nav-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  //MAGIC NUMBER
  padding: 29px 22px 26px 17px;
}

.nav-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: none;
  z-index: 1;
}

.nav-ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 15px;
  font-size: 15px;
}

.nav-item {
  color: #ffffff;
}

.create-gif {
  width: 54px;
  height: 54px;
  background: url('/img/CTA-crear-gifo-modo-normal.svg');
  &:hover{
    background: url('/img/CTA-crear-gifo-hover.svg');
  }
  &:active{
    background: url('/img/CTA-crear-gifo-active.svg');
  }
}

.menu-line {
  opacity: 0.5;
  border-top: 1px solid #ffffff;
  width: 10%;
}

.show-burger-menu {
  position: absolute;
  top: 100px;
  left: 0;
  background-color: $colorPrimary;
  padding-top: 15px;
  opacity: 0.9;
  display: flex;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 70%;
  margin-bottom: -4px;
  text-align: center;
}

.container p {
  text-align: center;
  font-size: 25px;
  line-height: 33px;
  margin-bottom: 31px;
}

.container span {
  color: #5ed7c6;
}

#friends-image {
  width: 100%;
  max-width: 399px;
}

.container-search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 31px;
  max-width: 551px;
  width: 90%;
  border: 1px solid #572ee5;
  border-radius: 27px;
  padding: 15px 20px 13px 25px;
  position: relative;
}

.icon-onsearch {
  display: none;
}

#suggestions-list {
  display: flex;
  flex-direction: column;
  bottom: -50px;
  width: 100%;
  background-color: transparent;
  list-style-type: none;
}

.hr-line {
  margin-top: 10px;
  opacity: 0.5;
  border: 1px solid #9cafc3;
}

.div-icon {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 0px 10px 2px;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
    background: $colorPrimary;
  }
}

.li-suggestions {
  font-size: 16px;
  color: #9cafc3;
  text-align: left;
  font-family: $textRoboto;
  font-weight: 400;
}

.img-icon {
  margin-right: 15px;
  width: 15px;
}

input {
  all: unset;
}

.search {
  box-shadow: none;
  width: 90%;
  background: transparent;
  color: #6b7989;
  font-family: $textRoboto;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.container .trending-title {
  font-size: 16px;
  margin: 0px;
}

.search-results {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(156px, 2fr));
  grid-gap: 21px;
  margin-bottom: 78px;
}

.search-title-container {
  font-family: $textMonserrat;
  font-weight: 700;
  font-size: 25px;
  color: $colorPrimary;
  text-align: center;
  line-height: 40px;
  margin-bottom: 38px;
}

.img-gifs {
  margin: auto;
  width: 156px;
  height: 120px;
}

#view-more-container {
  text-align: center;
}

.container .trending-words {
  margin: 0 auto;
  font-size: 14px;
  font-weight: 500;
  width: 75%;
  line-height: 25px;
  margin-bottom: 45px;
}

.container-trending {
  background-color: #f3f5f8;
}

.trends {
  font-size: 20px;
  text-align: center;
  padding-top: 46px;
}

.trends-subtitle {
  margin: 0 auto;
  width: 50%;
  font-family: $textRoboto;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 23px;
  font-weight: 400;
  padding-top: 7px;
  padding-bottom: 32px;
}

// TRENDS CAROUSEL

.trends-carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.image-container {
  width: 260px;
  height: 200px;
  margin-left: 22px;
  margin-bottom: 82px;
}

.image-container .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.image-carousel {
  width: 260px;
  height: 200px;
}

.image-user {
  font-style: $textRoboto;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
}

.image-title {
  font-style: $textRoboto;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}

// FOOTER CLASSES

.container-footer-p {
  text-align: center;
  margin-top: 47px;
  font-family: $textRoboto;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  margin-bottom: 24px;
}

.social-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 25%;
  margin-bottom: 48px;
}

.social-items a i {
  color: #cdd6e0;
  font-size: 19px;
}

.copyright-p {
  text-align: center;
  font-family: $textRoboto;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
  padding-bottom: 23px;
}

// footer {
//   border-bottom: 5px solid $colorPrimary;
// }

// DARK MODE CLASSES

.dark-body {
  background-color: #37383c;
  border-top: 5px solid #000000;
}


.dark-border-bottom {
  border-bottom: 5px solid #000000;
}

.dark-container-search {
  border: 1px solid white;
}

.dark-container-trending {
  background-color: #222326;
}

.dark-nav-ul {
  background-color: #000000;
  opacity: 1;
}

// DARK CLASSES

.dark{
  background-color: #37383c;
  border-top: 5px solid #000000;
  border-bottom: 5px solid #000000;
  margin: 0;
  p{
    color: white;
  }
  input{
    color: white;
  }
  a{
    color:white;
  }
  .search-nav{
    border: 1px solid white;
  }
  .create-gif{
    background: url('/img/CTA-crear-gifo-modo-noc.svg');
    &:hover{
      background: url('/img/CTA-crear-gifo-hover-modo-noc.svg');
    }
    &:active{
      background: url('/img/CTA-crear-gifo-active-modo-noc.svg');
    }
  }
}

// DESKTOP VERSION

@media screen and (min-width: $desktop-screen) {
  .logo {
    max-width: 64px;
  }

  nav {
  }

  .nav-section {
    flex-wrap: nowrap;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
  }

  .nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    width: 90%;
  }

  .nav-ul li a {
    margin-top: 0;
    padding: 10px 20px;
    font-size: 13px;
  }

  .sticky {
    position: sticky;
    top: -1px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
    border-top: 5px solid $colorPrimary;
  }

  .sticky-dark {
    position: sticky;
    top: 0;
    background: #37383c;
    box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
    border-top: 5px solid #000000;
  }

  .nav-item {
    color: $colorPrimary;
    text-transform: uppercase;
    &:hover:after {
      content: ""; /* This is necessary for the pseudo element to work. */
      display: block; /* This will put the pseudo element on its own line. */
      margin: 0 auto; /* This will center the border. */
      width: 95%; /* Change this to whatever width you want. */
      padding-top: 1px; /* This creates some space between the element and the border. */
      border-bottom: 2px solid #5ed7c6; /* This creates the border. Replace black with whatever color you want. */
    }
    &:active {
      color: #9cafc3 !important;
    }
  }

  .search-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    background: transparent;
    border: 1px solid #572ee5;
    border-radius: 27px;
    padding: 15px 20px 13px 55px;
    margin-left: 100px;
  }


  // .create-gif-border {
  //   display: inherit;
  //   padding: 18px 18px 15px 18px;
  //   border: 1px solid $colorPrimary;
  //   border-radius: 50%;

  //   &:hover {
  //     background-color: $colorPrimary;
  //   }

  //   &:hover .create-svg-fill {
  //     fill: #ffffff;
  //   }

  //   &:active {
  //     background-color: #9cafc3;
  //     border: 1px solid #9cafc3;
  //   }

  //   &:active .create-svg-fill {
  //     fill: #ffffff;
  //   }
  // }




  // .dark-create-gif-border {
  //   border: 1px solid #ffffff;

  //   &:hover {
  //     background-color: #ffffff;
  //   }

  //   &:hover .create-svg-fill {
  //     fill: #000000;
  //   }

  //   &:active {
  //     background-color: #9cafc3;
  //     border: 1px solid #9cafc3;
  //   }

  //   &:active .create-svg-fill {
  //     fill: #ffffff;
  //   }
  // }

  .menu-line {
    display: none;
  }

  #burger {
    display: none;
  }

  .container {
    width: 100%;
    max-width: 600px;
  }

  .container p {
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 31px;
  }

  .container .trending-words {
    margin-bottom: 95px;
  }

  .icon-onsearch {
    display: block;
    visibility: hidden;
  }

  .icon-onsearch-visible {
    visibility: visible;
  }

  .search-results {
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(260px, 2fr));
    grid-gap: 29px;
    margin-bottom: 70px;
  }

  .img-gifs {
    width: 260px;
    height: 200px;
  }

  // TRENDS CAROUSEL DESKTOP

  .trends-carousel {
    width: 80%;
    margin: 0 auto;
  }

  .image-container {
    position: relative;
    width: 357px;
    height: 275px;
    margin-right: 29px;
    margin-left: 0;
    margin-bottom: 82px;
  }
  .image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }

  .image-carousel {
    width: 357px;
    height: 275px;
  }

  .image-user {
    position: relative;
    left: 18px;
    top: 181px;
    font-family: $textRoboto;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    line-height: 0;
  }

  .image-title {
    position: relative;
    width: 200px;
    left: 18px;
    top: 205px;
    font-family: $textRoboto;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
  }

  .image-container:hover .after {
    display: block;
    opacity: 0.6;
    background: #572ee5;
  }

  // footer desktop

  .container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 47px;
    margin-bottom: 24px;
  }

  .container-social {
    display: flex;
    flex-direction: row;
    width: 30%;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    letter-spacing: 0;
    font-family: $textRoboto;
  }

  .container-footer-p {
    text-align: unset;
    margin-top: 0;
    font-size: 13px;
  }

  .social-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    margin-bottom: 0;
  }

  .social-items a {
    color: #cdd6e0;
    font-size: 19px;
  }

  .social-item:hover {
    fill: violet;
  }

  .copyright-p {
    font-size: 13px;
  }

/*   footer {
    border-bottom: 5px solid $colorPrimary;
  } */

  .para {
    position: relative;
    top: 20px;
    margin-top: 10px;
  }
}

// CLEAR INPUT STYLES

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

::-ms-clear {
  display: none;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
