* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #572EE5;
}

nav {
  border-top: 5px solid #572EE5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 29px 22px 26px 17px;
}

.nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  list-style-type: none;
}

.nav-ul li a {
  display: inline-block;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 15px;
  font-size: 15px;
}

.menu-line {
  opacity: 0.5;
  border-top: 1px solid #FFFFFF;
  width: 10%;
}

#burger {
  cursor: pointer;
}

.nav-ul {
  display: none;
  width: 100%;
}

.nav-ul.show {
  position: absolute;
  top: 100px;
  left: 0;
  background-color: #572EE5;
  padding-top: 15px;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 484px;
}

.container {
  margin: 0 auto;
  width: 70%;
}

.container p {
  text-align: center;
  font-size: 25px;
  line-height: 33px;
  margin-bottom: 31px;
}

.container span {
  color: #5ED7C6;
}

#friends-image {
  width: 100%;
}

.container-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 31px;
  width: 90%;
  background: transparent;
  border: 1px solid #572EE5;
  border-radius: 27px;
  padding: 15px 20px 13px 55px;
}

.search {
  width: 90%;
  background: transparent;
  color: #6B7989;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.container .trending-title {
  font-size: 16px;
  margin: 0px;
}

.container .trending-words {
  margin: 0 auto;
  font-size: 14px;
  font-weight: 500;
  width: 75%;
  line-height: 25px;
  margin-bottom: 45px;
}

.container-trending {
  background-color: #F3F5F8;
}

.trends {
  font-size: 20px;
  text-align: center;
  padding-top: 46px;
}

.trends-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 23px;
  font-weight: 400;
  padding-top: 7px;
  padding-bottom: 32px;
}

.container-footer-p {
  text-align: center;
  margin-top: 47px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  margin-bottom: 24px;
}

.social-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 25%;
  margin-bottom: 48px;
}

.social-items a i {
  color: #CDD6E0;
  font-size: 19px;
}

.copyright-p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
  padding-bottom: 23px;
  border-bottom: 5px solid #572EE5;
}

.little-bar {
  display: none;
  margin: 0 auto;
  opacity: 0.5;
  border-top: 1px solid #9CAFC3;
  width: 40%;
}

.dark-body {
  background-color: #37383C;
}

.dark-text {
  color: white;
}

.dark-border-top {
  border-top: 5px solid #000000;
}

.dark-container-search {
  border: 1px solid white;
}

.dark-container-trending {
  background-color: #222326;
}

@media screen and (min-width: 376px) {
  nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #burger {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */