* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

body {
  margin: 0;
  border-top: 5px solid #572ee5;
  border-bottom: 5px solid #572ee5;
  color: #572ee5;
}

input {
  all: unset;
}

.display-none {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden;
}

.logo {
  width: 100%;
  max-width: 48px;
}

.nav-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 29px 22px 26px 17px;
}

.nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  list-style-type: none;
  display: none;
  z-index: 1;
}

.nav-ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 15px;
  font-size: 15px;
}

.nav-item {
  color: #ffffff;
}

.search-nav {
  display: none;
}

.create-gif {
  display: none;
}

.menu-line {
  opacity: 0.5;
  border-top: 1px solid #ffffff;
  width: 10%;
}

.show-burger-menu {
  position: absolute;
  top: 100px;
  left: 0;
  background-color: #572ee5;
  padding-top: 15px;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: 70%;
  margin-bottom: -5px;
  text-align: center;
}

.container p {
  text-align: center;
  font-size: 25px;
  line-height: 33px;
  margin-bottom: 31px;
}

.container span {
  color: #5ed7c6;
}

#friends-image {
  width: 100%;
  max-width: 399px;
}

.container-search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 31px;
  max-width: 551px;
  width: 90%;
  border: 1px solid #572ee5;
  border-radius: 27px;
  padding: 15px 20px 13px 25px;
}

.container-search-square-border {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.icon-onsearch {
  display: none;
}

.suggestions-list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 45px;
  left: -1px;
  width: 100.4%;
  background-color: white;
  list-style-type: none;
  border-left: 1px solid #572ee5;
  border-right: 1px solid #572ee5;
  border-bottom: 1px solid #572ee5;
  border-radius: 0px 0px 27px 27px;
  padding: 0px 20px 13px 25px;
}

.hr-line-suggestions {
  opacity: 0.5;
  border: 1px solid #9cafc3;
}

.div-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 10px 0px 10px 2px;
  background-color: white;
  cursor: pointer;
}

.div-icon:hover {
  opacity: 0.6;
  background: #572ee5;
}

.li-suggestions {
  font-size: 16px;
  color: #9cafc3;
  text-align: left;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.img-icon {
  margin-right: 15px;
  width: 15px;
}

.search {
  width: 90%;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.container .trending-title {
  font-size: 16px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  margin-bottom: 0;
}

.search-results {
  margin: 0 auto;
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(156px, 2fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(156px, 2fr));
  grid-gap: 21px;
}

.no-search-results {
  text-align: center;
}

.hr-line-search {
  margin: auto;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 43px;
  opacity: 0.5;
  border-bottom: 1px solid #9cafc3;
}

.search-title-container {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #572ee5;
  text-align: center;
  line-height: 40px;
  margin-bottom: 38px;
}

.img-gifs {
  margin: auto;
  width: 156px;
  height: 120px;
}

.view-more {
  margin: auto;
  width: 127px;
  height: 50px;
  margin-top: 78px;
  margin-bottom: 79px;
  background: url("../img/CTA-ver-mas.svg");
}

.view-more:hover {
  background: url("../img/CTA-ver-mas-hover.svg");
}

.container .trending-words {
  margin: 0 auto;
  font-size: 14px;
  font-weight: 500;
  width: 75%;
  line-height: 25px;
  margin-bottom: 45px;
}

.container-trending {
  background-color: #f3f5f8;
}

.trends {
  font-size: 20px;
  text-align: center;
  padding-top: 46px;
}

.trends-subtitle {
  margin: 0 auto;
  width: 50%;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 23px;
  font-weight: 400;
  padding-top: 7px;
  padding-bottom: 32px;
}

.trends-arrow-carousel {
  padding-bottom: 82px;
}

#left-arrow {
  display: none;
}

#right-arrow {
  display: none;
}

.trends-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: scroll;
}

.trends-carousel::-webkit-scrollbar {
  display: none;
}

.image-container {
  width: 260px;
  height: 200px;
  margin-left: 22px;
}

.image-container .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.image-container-search {
  width: 156px;
  height: 120px;
}

.image-container-search .after-search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.image-search-results {
  width: 156px;
  height: 120px;
}

.image-carousel {
  width: 260px;
  height: 200px;
}

.image-user {
  font-style: Roboto, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
}

.image-title {
  font-style: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}

.container-footer-p {
  text-align: center;
  margin-top: 47px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  margin-bottom: 24px;
}

.social-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 25%;
  margin-bottom: 48px;
}

.social-items a i {
  color: #cdd6e0;
  font-size: 19px;
}

.facebook-social {
  width: 8px;
  height: 17px;
  background: url("../img/icon_facebook.svg");
}

.facebook-social:hover {
  background: url("../img/icon_facebook_hover.svg");
}

.twitter-social {
  width: 18px;
  height: 17px;
  background: url("../img/icon-tw-normal.svg");
}

.twitter-social:hover {
  background: url("../img/icon-twitter-hover.svg");
}

.instagram-social {
  width: 18px;
  height: 18px;
  background: url("../img/icon_instagram.svg");
}

.instagram-social:hover {
  background: url("../img/icon_instagram-hover.svg");
}

.copyright-p {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
  padding-bottom: 23px;
}

.dark {
  background-color: #37383c;
  border-top: 5px solid #000000;
  border-bottom: 5px solid #000000;
}

.dark p {
  color: #ffffff !important;
}

.dark input {
  color: #ffffff;
}

.dark a {
  color: #ffffff;
}

.dark .search-nav {
  border: 1px solid #ffffff;
}

.dark .suggestions-list {
  background-color: #37383C;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.dark .div-icon {
  background-color: #37383C;
}

.dark .div-icon:hover {
  opacity: 0.6;
  background: #FFFFFF;
}

.dark .create-gif {
  background: url("../img/CTA-crear-gifo-modo-noc.svg");
}

.dark .create-gif:hover {
  background: url("../img/CTA-crear-gifo-hover-modo-noc.svg");
}

.dark .create-gif:active {
  background: url("../img/CTA-crear-gifo-active-modo-noc.svg");
}

.dark .view-more {
  background: url("../img/CTA-ver+modo-noc.svg");
}

.dark .view-more:hover {
  background: url("../img/CTA-ver+hover-modo-noc.svg");
}

.dark .facebook-social {
  width: 8px;
  height: 17px;
  background: url("../img/icon_facebook.svg");
}

.dark .facebook-social:hover {
  background: url("../img/icon_facebook_noc.svg");
}

.dark .twitter-social {
  width: 18px;
  height: 17px;
  background: url("../img/icon-tw-normal.svg");
}

.dark .twitter-social:hover {
  background: url("../img/icon_twitter_noc.svg");
}

.dark .instagram-social {
  width: 18px;
  height: 18px;
  background: url("../img/icon_instagram.svg");
}

.dark .instagram-social:hover {
  background: url("../img/icon_instagram_noc.svg");
}

.dark-container-search {
  border: 1px solid #ffffff;
}

.dark-container-trending {
  background-color: #222326;
}

.dark-nav-ul {
  background-color: #000000;
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .logo {
    max-width: 64px;
  }
  .nav-section {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
  .nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: transparent;
  }
  .nav-ul li a {
    margin-top: 0;
    padding: 10px 20px;
    font-size: 13px;
  }
  .sticky, .sticky-dark {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
            box-shadow: 0 2px 4px 1px rgba(156, 175, 195, 0.55);
    border-top: 5px solid #572ee5;
  }
  .sticky-dark {
    background: #37383c;
    border-top: 5px solid #000000;
  }
  .nav-item {
    color: #572ee5;
    text-transform: uppercase;
  }
  .nav-item:hover:after {
    content: "";
    /* This is necessary for the pseudo element to work. */
    display: block;
    /* This will put the pseudo element on its own line. */
    margin: 0 auto;
    /* This will center the border. */
    width: 95%;
    /* Change this to whatever width you want. */
    padding-top: 1px;
    /* This creates some space between the element and the border. */
    border-bottom: 2px solid #5ed7c6;
    /* This creates the border. Replace black with whatever color you want. */
  }
  .nav-item:active {
    color: #9cafc3 !important;
  }
  .search-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    background: transparent;
    border: 1px solid #572ee5;
    border-radius: 27px;
    padding: 15px 20px 13px 55px;
  }
  .create-gif {
    display: inline-block;
    width: 54px;
    height: 54px;
    background: url("../img/CTA-crear-gifo-modo-normal.svg");
  }
  .create-gif:hover {
    background: url("../img/CTA-crear-gifo-hover.svg");
  }
  .create-gif:active {
    background: url("../img/CTA-crear-gifo-active.svg");
  }
  .menu-line {
    display: none;
  }
  #burger {
    display: none;
  }
  .container {
    width: 100%;
    max-width: 600px;
  }
  .container p {
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 31px;
    margin-top: 95px;
  }
  .icon-onsearch {
    display: block;
    visibility: hidden;
  }
  .icon-onsearch-visible {
    visibility: visible;
  }
  .search-results {
    width: 80%;
    -ms-grid-columns: (minmax(260px, 2fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(260px, 2fr));
    grid-gap: 29px;
  }
  .img-gifs {
    width: 260px;
    height: 200px;
  }
  .container .trending-title {
    font-size: 18px;
    color: #572EE5;
    text-align: center;
    line-height: 25px;
    margin-top: 73px;
  }
  .container .trending-words {
    font-size: 16px;
    color: #572ee5;
    text-align: center;
    line-height: 25px;
    width: 75%;
    margin-bottom: 95px;
  }
  .hr-line-search {
    width: 25%;
  }
  .trends {
    padding-top: 67px;
    font-size: 25px;
    line-height: 30px;
  }
  .trends-subtitle {
    font-size: 18px;
  }
  .trends-arrow-carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 182px;
  }
  #left-arrow {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../img/button-slider-left.svg");
  }
  #left-arrow:hover {
    background: url("../img/button-slider-left-hover.svg");
  }
  #right-arrow {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../img/Button-Slider-right.svg");
  }
  #right-arrow:hover {
    background: url("../img/Button-Slider-right-hover.svg");
  }
  .trends-carousel {
    width: 90%;
    margin: 0 auto;
  }
  .image-container {
    position: relative;
    width: 357px;
    height: 275px;
    margin-right: 29px;
    margin-left: 0;
  }
  .image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  .image-container-search {
    position: relative;
    width: 260px;
    height: 200px;
    margin: 0 auto;
  }
  .image-container-search .after-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  .image-search-results {
    width: 260px;
    height: 200px;
  }
  .image-carousel {
    width: 357px;
    height: 275px;
  }
  .image-user {
    position: absolute;
    left: 18px;
    top: 181px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    line-height: 0;
  }
  .image-title {
    position: absolute;
    width: 200px;
    left: 18px;
    top: 205px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
  }
  .image-icon-container {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    left: 237px;
    width: 30%;
    height: 32px;
    top: 10px;
  }
  .image-fav {
    position: relative;
    width: 32px;
    height: 32px;
    background: url("../img/icon-fav.svg");
  }
  .image-fav:hover {
    background: url("../img/icon-fav-hover.svg");
  }
  .image-fav-active {
    background: white no-repeat center/55% url("../img/icon-fav-active.svg");
    border-radius: 6px;
  }
  .image-fav-active:hover {
    background: white no-repeat center/55% url("../img/icon-fav-active.svg");
  }
  .image-download {
    position: relative;
    width: 32px;
    height: 32px;
    background: url("../img/icon-download.svg");
  }
  .image-download:hover {
    background: url("../img/icon-download-hover.svg");
  }
  .image-max {
    position: relative;
    width: 32px;
    height: 32px;
    background: url("../img/icon-max-normal.svg");
  }
  .image-max:hover {
    background: url("../img/icon-max-hover.svg");
  }
  .image-container:hover .after {
    display: block;
    opacity: 0.6;
    background: #572ee5;
  }
  .image-container-search:hover .after-search {
    display: block;
    opacity: 0.6;
    background: #572ee5;
  }
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 47px;
    margin-bottom: 24px;
  }
  .container-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 30%;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    letter-spacing: 0;
    font-family: Roboto, sans-serif;
  }
  .container-footer-p {
    text-align: unset;
    margin-top: 0;
    font-size: 13px;
  }
  .social-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40%;
    margin-bottom: 0;
  }
  .social-items a {
    color: #cdd6e0;
    font-size: 19px;
  }
  .copyright-p {
    font-size: 13px;
  }
  .para {
    position: relative;
    top: 20px;
    margin-top: 10px;
  }
  .dark #left-arrow {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../img/button-slider-left-md-noct.svg");
  }
  .dark #left-arrow:hover {
    background: url("../img/button-slider-left-hover-noc.svg");
  }
  .dark #right-arrow {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../img/button-slider-right-md-noct.svg");
  }
  .dark #right-arrow:hover {
    background: url("../img/button-slider-right-hover-noc.svg");
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

::-ms-clear {
  display: none;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/*# sourceMappingURL=style.css.map */